/*margin-bottom*/
.mg-b-5{
    margin-bottom: 5px;
}
.mg-b-10{
    margin-bottom: 10px;
}
.mg-b-15{
    margin-bottom: 15px;
}
.mg-b-20{
    margin-bottom: 20px;
}
.mg-b-50{
    margin-bottom: 50px;
}
/*text-transform*/
.uppercase{
    text-transform: uppercase;
}
.capitalize{
    text-transform: capitalize;
}